*, *::before, *::after {
  box-sizing: border-box;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}


/* section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
} */
section {
  margin-left:50px;
  margin-right:50px;
  display: flex;
  padding: 80px 20px; /* gives breathing room */
  flex-direction: column;
  align-items: center;
  text-align: center;
}

 section#Home {
    justify-content: center;
    padding-top: 0;
  }

/* When section content is taller than viewport, align to top */
@media (max-height: 1000px) { /* or adjust as needed */
  section {
    justify-content: flex-start;
    padding-top: 64px; /* optional spacing from top */
  }
  section#Home {
    justify-content: center;
    padding-top: 0;
  }



}

